html {
  height: 100vh;
}
body {
  height: 100vh;
}

.chat {
  margin: 0;
}

#messageForm {
  background-color: #91dab2;
  position: fixed;
  bottom: 0;
  padding: 15px;
  width: 100%;
}

#msg-input {
  padding: 10px;
  border-radius: 20px;
}

#messages {
  height: 85vh;
}

#msg-btn {
  padding: 9px;
  border-radius: 20px;
  cursor: pointer;
  background-color: rgb(2, 112, 85);
  font-size: large;
  color: white;
  font-weight: bold;
  border: none;
}

#msg-btn:hover {
  background-color: rgb(5, 153, 116);
}

.msg {
  list-style-type: none;
}

.msg-span {
  display: inline-block;
  padding: 10px;
  border-radius: 20px;
  font-size: large;
  background-color: #fad7bf;
  color: black;
  margin: 15px 5px 0px 0px;
  text-align: left;
}

.my span {
  color: white;
  background-color: rgb(221, 170, 122);
  margin-right: 20px;
}

.my i {
  display: none;
}

.center-logo {
  width: 160px;
  height: 160px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 10px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  top: 30px; /* 30px from the top */
  max-height: 50px;
  border-radius: 10px;
  font-weight: 500;
  background-color: rgb(145, 218, 178);
  color: black;
  text-overflow: ellipsis;
  overflow-y: hidden;
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
